
    /*  body {
          background-color: antiquewhite;
          color: aqua;
      }
        h1 {
            background-color: red;
            color: #ffa302;
        }
        h2 {
            background-color: coral;
            color: darkolivegreen;
        }
        #uno {
            background-color: red;
        }
        h1 {
            background-color: darkgreen;
        }
        #bt1{
            background-color: #9a041b;
            color: #f2ffe6;
        }
        #bt2{
            background-color: darkgreen;
            color: #f2ffe6;
        } */
.bt1:hover{
    background-color: yellow;
    color: antiquewhite;
}
.bt2:focus{
    border-color: dodgerblue;
    background-color: #05b924;
    color: antiquewhite;
}


